<extends src="main.html">
  <block name="nav">
		<include src="nav.html" locals='{ "profile": null }'></include>
	</block>
  <block name="content">
    <!-- Header Slider -->
    <include src="contact-header.html"></include>

    <section class="ftco-section contact-section">
      <div class="container">
        <div class="row d-flex contact-info">
          <div class="col-md-4 d-flex">
            <div class="bg-light align-self-stretch box p-4 text-center">
              <h3 class="mb-4">ناونیشان</h3>
              <p>بەرامبەر قەڵات، هەلێر.</p>
            </div>
          </div>
          <div class="col-md-4 d-flex">
            <div class="bg-light align-self-stretch box p-4 text-center">
              <h3 class="mb-4">ژمارە مۆبایل</h3>
              <p><a href="tel://+9647500000000" dir="ltr">+9647500000000</a></p>
            </div>
          </div>
          <div class="col-md-4 d-flex">
            <div class="bg-light align-self-stretch box p-4 text-center">
              <h3 class="mb-4">ئیمێیل</h3>
              <p><a href="mailto:info@ferkar.dev">info@ferkar.dev</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
      <div class="container">
        <div class="row d-flex align-items-stretch no-gutters">
          <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
            <form action="#">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="ناو">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="ئیمێیل">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="بابەت">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="پەیام"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="ناردن" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          </div>
          <div class="col-md-6 d-flex align-items-stretch"> 
            <!-- Map -->
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d103031.40452658366!2d43.93892333168789!3d36.197413930195694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x400722fe13443461%3A0x3e01d63391de79d1!2sErbil!5e0!3m2!1sen!2siq!4v1600278001059!5m2!1sen!2siq" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

  </block>

  <!-- asdasdas -->
  <block name="scripts">

  </block>
</extends>