<extends src="main.html">
	<block name="nav">
		<include src="nav.html" locals='{ "profile": null }'></include>
	</block>
	<block name="content">
		<!-- Header Slider -->
		<include src="header-slider.html"></include>

		<section class="ftco-services ftco-section container">
			<div class="container-wrap">
				<div class="row no-gutters">
					<div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
						<div class="media block-6 d-block text-center">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon-teacher"></span>
							</div>
							<div class="media-body p-2 mt-3">
								<h3 class="heading">ماموستای شیاو</h3>
								<p>لە ئاسمانی خەیاڵاندا بازی بێپەروا، لە زەویوزاری نوکتەزانیدا سکەیەکی خۆشڕەوا.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
						<div class="media block-6 d-block text-center">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon-reading"></span>
							</div>
							<div class="media-body p-2 mt-3">
								<h3 class="heading">گەڵاڵەنوێن</h3>
								<p>لە ئاسمانی خەیاڵاندا بازی بێپەروا، لە زەویوزاری نوکتەزانیدا سکەیەکی خۆشڕەوا.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
						<div class="media block-6 d-block text-center">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon-books"></span>
							</div>
							<div class="media-body p-2 mt-3">
								<h3 class="heading">گەڵاڵەنوێن</h3>
								<p>لە ئاسمانی خەیاڵاندا بازی بێپەروا، لە زەویوزاری نوکتەزانیدا سکەیەکی خۆشڕەوا.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
						<div class="media block-6 d-block text-center">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon-diploma"></span>
							</div>
							<div class="media-body p-2 mt-3">
								<h3 class="heading">گەڵاڵەنوێن</h3>
								<p>لە ئاسمانی خەیاڵاندا بازی بێپەروا، لە زەویوزاری نوکتەزانیدا سکەیەکی خۆشڕەوا.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="ftco-section ftco-counter img" id="section-counter"
			style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2 d-flex">
					<div class="col-md-6 align-items-stretch d-flex">
						<div class="img d-flex align-items-center">
							<div class="video justify-content-center">
								<img src="/images/ferkar_1.png" alt="" style="max-width: 100%;">
							</div>
						</div>
					</div>
					<div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
						<h2 class="mb-4">فێرکار کێشەکانی خوێندنت بۆ چارەسەر دەکات</h2>
						<p>هەموو وانەکان لەلایەن باشترین  ماموستاکانی کوردستان بخوێنە هەر کاتێک و لە هەر شوێنێک.</p>
						<p>تاقیکردنەوەی خۆت بکە لە دوای تەماشاکردنی هەرڤیدیۆیەک، زانیاری وەرگرە لەسەر شێوازی خوێندن و باشترین ڕێگاکان بۆ فێربون.</p>
						<a href="#" class="btn btn-secondary">هەر ئێستا بەشداری بکە</a>
					</div>
				</div>
				<div class="row d-md-flex align-items-center justify-content-center">
					<div class="col-lg-12">
						<div class="row d-md-flex align-items-center">
							<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
								<div class="block-18">
									<div class="icon"><span class="flaticon-doctor"></span></div>
									<div class="text">
										<strong class="number" data-number="18">0</strong>
										<span>ماموستا</span>
									</div>
								</div>
							</div>
							<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
								<div class="block-18">
									<div class="icon"><span class="flaticon-doctor"></span></div>
									<div class="text">
										<strong class="number" data-number="401">0</strong>
										<span>قوتابی</span>
									</div>
								</div>
							</div>
							<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
								<div class="block-18">
									<div class="icon"><span class="flaticon-doctor"></span></div>
									<div class="text">
										<strong class="number" data-number="30">0</strong>
										<span>وانە</span>
									</div>
								</div>
							</div>
							<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
								<div class="block-18">
									<div class="icon"><span class="flaticon-doctor"></span></div>
									<div class="text">
										<strong class="number" data-number="50">0</strong>
										<span>تاقیکردنەوە</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="ftco-section">
			<div class="container-fluid px-4">
				<div class="row justify-content-center mb-5 pb-2">
					<div class="col-md-8 text-center heading-section ftco-animate">
						<h2 class="mb-4">کۆرسەکان</h2>
						<p>لە ئاسمانی خەیاڵاندا بازی بێپەروا، لە زەویوزاری نوکتەزانیدا سکەیەکی خۆشڕەوا. سەردەفتەری خۆشپەیکەری ئەدیبان، بادەنۆشی خانەدانی هۆنەران.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(images/course-1.jpg);"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i> م. کاروان</span>
								<span><i class="icon-timer mr-2"></i> ٢ کاتژمێر</span>
							</p>
							<h3><a href="#">گەڵاڵەنوێن</a></h3>
							<p>لە ئاسمانی خەیاڵاندا بازی بێپەروا، لە زەویوزاری نوکتەزانیدا سکەیەکی خۆشڕەوا. سەردەفتەری خۆشپەیکەری ئەدیبان، بادەنۆشی خانەدانی هۆنەران.</p>
							<p><a href="#" class="btn btn-primary">بەشداری بکە</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(images/course-2.jpg);"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i> م. کاروان</span>
								<span><i class="icon-timer mr-2"></i> ٢ کاتژمێر</span>
							</p>
							<h3><a href="#">گەڵاڵەنوێن</a></h3>
							<p>لە ئاسمانی خەیاڵاندا بازی بێپەروا، لە زەویوزاری نوکتەزانیدا سکەیەکی خۆشڕەوا. سەردەفتەری خۆشپەیکەری ئەدیبان، بادەنۆشی خانەدانی هۆنەران.</p>
							<p><a href="#" class="btn btn-primary">بەشداری بکە</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(images/course-3.jpg);"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i> م. کاروان</span>
								<span><i class="icon-timer mr-2"></i> ٢ کاتژمێر</span>
							</p>
							<h3><a href="#">گەڵاڵەنوێن</a></h3>
							<p>لە ئاسمانی خەیاڵاندا بازی بێپەروا، لە زەویوزاری نوکتەزانیدا سکەیەکی خۆشڕەوا. سەردەفتەری خۆشپەیکەری ئەدیبان، بادەنۆشی خانەدانی هۆنەران.</p>
							<p><a href="#" class="btn btn-primary">بەشداری بکە</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(images/course-4.jpg);"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i> م. کاروان</span>
								<span><i class="icon-timer mr-2"></i> ٢ کاتژمێر</span>
							</p>
							<h3><a href="#">گەڵاڵەنوێن</a></h3>
							<p>لە ئاسمانی خەیاڵاندا بازی بێپەروا، لە زەویوزاری نوکتەزانیدا سکەیەکی خۆشڕەوا. سەردەفتەری خۆشپەیکەری ئەدیبان، بادەنۆشی خانەدانی هۆنەران.</p>
							<p><a href="#" class="btn btn-primary">بەشداری بکە</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>

	</block>

	<!-- asdasdas -->
	<block name="scripts">

	</block>
</extends>