<extends src="main.html">
  <block name="nav">
        <include src="nav.html" locals='{ "profile": null }'></include>
    </block>
  <block name="content">
    <section class="ftco-section contact-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto bg-light p-5">
              <div class="mb-5">
                  <h2 class="ftco-heading-2 mb-3">خۆتۆمارکردن</h2>
                  <p class="text-muted">
                     پێشتر خۆم تۆمار کردووە؟ <a  href="login.html">چوونەژوورەوە</a>
                  </p>
              </div>
              <form action="">
                  <div class="form-group">
                      <label for="name">ناوی سێیانی</label>
                      <input type="text" class="form-control" name="name" id="name" required autocomplete="on" autofocus />
                  </div>
                  <div class="form-group">
                      <label for="name">ژمارەی مۆبایل</label>
                      <input type="text" class="form-control" name="name" id="name" required autocomplete="on" autofocus />
                  </div>
                  <div class="form-group">
                      <label for="email">ئیمێیل</label>
                      <input type="text" class="form-control" name="email" id="email" required />
                  </div>
                  <div class="form-group">
                      <label for="password">ووشەی نهێنی</label>
                      <input type="password" class="form-control" name="password" id="password" required />
                  </div>
                  <div class="form-group">
                      <label for="password_confirmation"> دووپاتی ووشەی نهێنی</label>
                      <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" required />
                  </div>
                  <div class="form-group" style="user-select: none;">
                      <label for="remember">
                          <input type="checkbox" name="remember" id="remember" /> <small>لە بیرم مەکە؟</small>
                      </label>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-primary btn-block btn-lg">چوونەژوورەوە</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </section>
  </block>

  <!-- asdasdas -->
  <block name="scripts">

  </block>
</extends>