    <section class="home-slider">
  

      <div class="slider-item" style="background-image:url(images/bg_blur_2.jpg);">

        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" style="padding: 56px 0;">
          <div class="col-md-7 ftco-animate">
            <h1 class="mb-4 text-dark">کێشەی خوێندنت هەیە؟</h1>
            <ul class="text-dark list-primary">
              <li>پۆلی ١٢یت و دەتەوێت نمرەی بەرز بێنیت؟</li>
              <li>توانای گرتنی ماموستای تایبەتت نیە؟</li>
              <li>کێشەی کاتت هەیە و ناتوانی وانەکان لەکتی خۆیدا بخوێنی؟</li>
              <li>قۆتابی دەرەکیت و ماموستات نیە؟</li>
              <li>دەتەوێت وانە بخوێنی لەلایەن باشترین مامۆستاکان؟</li>
            </ul>
            <p class="text-primary mt-5"><strong>هەر ئێستا بەشداربە لە فێرکار، نمرەیەکی بەرز بەدەست بێنە.</strong></p>
          </div>
          <div class="col-md-5 ftco-animate">
            <form action="">
              <h2 class="mb-4">بەخۆڕایی بەشداری بکە</h2>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="ناوی تەواو"/>
              </div>
              <div class="form-group">
                <input type="tel" class="form-control" placeholder="ژمارەی مۆبایل"/>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="ئیمێیل"/>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="ووشەی نهێنی"/>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="دووپاتکردنەوەی ووشەی نهێنی"/>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block btn-lg">بەشداربە</button>
              </div>
            </form>
          </div>
        </div>
        </div>
      </div>
    </section>