<div class="bg-top navbar-light">
  <div class="container">
    <div class="row no-gutters d-flex align-items-center">
      <div class="col-md-4 d-flex align-items-center py-4">
        <a class="navbar-brand" href="index.html"><img src="/images/ferkar_logo.png" alt="" height="48"></a>
      </div>
      <div class="col-lg-8 d-block">
        <div class="row d-flex">
          <div class="col-md d-flex align-items-center justify-content-end">
            <div class="mb-0">
              <a href="register.html" class="btn py-2 px-3 btn-primary btn-sm">
                <span>خوتۆمارکردن</span>
              </a>
              <a href="login.html" class="btn py-2 px-3 btn-secondary btn-sm">
                <span>چوونەژوورەوە</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container d-flex align-items-center px-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> مێنو
    </button>
    <form action="#" class="searchform order-lg-last">
      <div class="form-group d-flex">
        <input type="text" class="form-control pl-3" placeholder="گەڕان">
        <button type="submit" class="form-control search"><span class="ion-ios-search"></span></button>
      </div>
    </form>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a href="index.html" class="nav-link">سەرەتا</a></li>
        <li class="nav-item"><a href="courses.html" class="nav-link">کۆرسەکان</a></li>
        <li class="nav-item"><a href="about.html" class="nav-link">دەربارە</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link">پەیوەندی</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->