@import 'vendor/bootstrap/bootstrap';
@import 'vendor/bootstrap/variables';
@import './theme';
@import './base/fonts';

html,
body {
  font-family: "Empire", Arial, Helvetica, sans-serif;
}

.btn, .form-control{
	border-radius: 8px !important;
}
.form-control {
	border-color: transparent;
	font-size: 14px;
}

ul.list-primary {
	list-style: none; 
	margin: 0;
	padding-right: 1em;
  }
  
  ul.list-primary li::before {
	content: "\2022";
	color: $primary; 
	font-weight: bold; 
	display: inline-block;
	width: 1em; 
	margin-right: -1em; 
  }

  .course-vt .img {
	  height: 250px;
  }

  [dir='rtl'] .dropdown-menu {
	  text-align: right;
	  float: right;
	  right: 0;
	  left: auto;
  }

.nav-link.active {
	  background: $primary !important;
}

[dir="rtl"] .ftco-footer-social li {
	margin: 0 0 0 10px;
}